.tree {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  flex-basis: content;
  background-image: url("/assets/back.jpg");
  background-size: cover;
  min-width: 500px;
}
