@font-face {
  font-family: "Mr Eaves";
  src: url("/fonts/Mr-Eaves-Small-Caps.woff");
}

@font-face {
  font-family: "Mrs Eaves";
  src: url("/fonts/Mrs-Eaves-Small-Caps.woff");
}

@font-face {
  font-family: "ScalySans";
  src: url("/fonts/ScalySans.woff")
}
@font-face {
  font-family: "ScalySans";
  src: url("/fonts/ScalySans-Bold.woff");
  font-weight: bold;
}
@font-face {
  font-family: "ScalySans";
  src: url("/fonts/ScalySans-Italic.woff");
  font-style: italic;
}
@font-face {
  font-family: "ScalySans";
  src: url("/fonts/ScalySans-Bold-Italic.woff");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.hidden {
  display: none;
}